@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var numberOfPosts = 6;
    var startNode = Umbraco.Content(Model.Id);

    //Gets all blogposts to calculate pages
    var blogposts = startNode.Children.OrderByDescending(x => x.Value<DateTime>("publishDate")).ToList();

    //Gets all blogposts to calculate pages
    //var blogposts = Model.Children.Cast<ContentModels.Blog>().OrderByDescending(x => x.Value<DateTime>("publishDate")).ToList();
    var pageCount = (int)Math.Ceiling((double)blogposts.Count / (double)numberOfPosts);
    //gets the page from the querystring and sets it to one if it is out of range
    var page = 1;

    if (!string.IsNullOrEmpty(Context.Request.Query["page"]))
    {
        int.TryParse(Context.Request.Query["page"], out page);
        if (page <= 0 || page > pageCount)
        {
            page = 1;
        }
    }
    var pagedBlogposts = blogposts.Skip((page - 1) * numberOfPosts).Take(numberOfPosts).ToList();

}
<section>
    <div class="container">


        @if (pagedBlogposts.Count > 0)
        {
            <div class="container shadow-flow">
                <div class="row mar-bot5">
                    <div class="cols-1">
                        <div class="title">
                            <h1 class="section-heading">@Html.Raw(Model.PageTitle)</h1>
                            <h2>@Html.Raw(Model.DisqusShortname)</h2>
                        </div>
                    </div>
                </div>
                <div class="row blog-row">
                    @foreach (ContentModels.Blogpost post in pagedBlogposts)
                    {
                        DateTime publishDate = post.Value<DateTime>("publishDate");
                        <a href="@post.Url()" alt="@Html.Raw(post.BrowserTitle)">
                            <div class="cols-3">
                                <div class="blog-col">
                                    <div class="blog-date">
                                        <div class="blog-date-day">@publishDate.ToString("dd").</div>
                                        <div class="blog-date-month">@publishDate.ToString("MMM")</div>
                                        <div class="blog-date-year">@publishDate.ToString("yyyy")</div>
                                    </div>
                                    <div class="blog-content">
                                        <h2>@Html.Raw(post.PageTitle)</h2>
                                        <p>@Html.Raw(post.Excerpt)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }

        <div class="row">
            <div class="cols-1">
                <div class="section-header">
                    @if (page <= 1)
                    {
                        <span class="nav-link--disabled">Forrige</span>
                    }
                    else
                    {
                        <a class="" href="@(Model.Url() + "?page=" + (page - 1))" title="Forrige side">Forrige</a>
                    }

                    @for (int i = 1; i <= pageCount; i++)
                    {
                        <a class="@(page == i ? "nav-link--active" : null)" href="@(Model.Url() + "?page=" + i)" title="Næste side">@i</a>
                    }
                    @if (page == pageCount)
                    {
                        <span class="nav-link--disabled">Næste</span>
                    }
                    else
                    {
                        <a class="" href="@(Model.Url() + "?page=" + (page + 1))" title="Næste side">Næste</a>
                    }

                </div>
            </div>
        </div>
    </div>
</section>