@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.People>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<section>

    <div class="row">
        <div class="cols-1">
            <div class="title">
                <div class="wow bounceIn">
                    <h1 class="section-heading animated" data-animation="bounceInUp">@Model.PageTitle</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-center">

        @if (Model.Children.Any())
        {
            foreach (ContentModels.Person person in Model.Children)
            {
                var protrait = (person.Photo != null) ? person.Photo.Url() : "/assets/images/personsiloet.jpg";
                <div class="cols-3">
                    <div class="member">
                        <div class="member-bio">
                            @Html.Raw(person.Description)
                            <p>
                                @if (!string.IsNullOrEmpty(person.Email))
                                {
                                    <a href="mailto:@person.Email">@Html.Raw(person.Email)</a>
                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(person.Phone))
                                {
                                    <span>@person.Phone</span>
                                    <br />
                                }
                            </p>
                        </div>
                        <div class="member-picture">
                            <figure><img src="@protrait" alt="@Html.Raw(person.Name)"></figure>
                            <div class="member-overlay"></div>
                        </div>
                        <div class="member-detail">
                            <h2>@Html.Raw(person.Name)</h2>
                            <span>@Html.Raw(string.Join(", ", person.Value<string[]>("memberType")))</span><br />
                            <span>@person.Elected</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row align-center">Bestyrelsen - <a href="mailto:tvingsbakken.bestyrelsen@gmail.com">email</a></div>

</section>