@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var numberOfPosts = 6;
    var startNode = Umbraco.Content(Model.Id);

    var page = 1;
    var blogposts = startNode.Children.OrderByDescending(x => x.Value<DateTime>("publishDate")).ToList();
    var pageCount = (int)Math.Ceiling((double)blogposts.Count / (double)numberOfPosts);

    if (!string.IsNullOrEmpty(Context.Request.Query["page"]))
    {
        int.TryParse(Context.Request.Query["page"], out page);
        if (page <= 0 || page > pageCount)
        {
            page = 1;
        }
    }
    var pagedBlogposts = blogposts.Skip((page - 1) * numberOfPosts).Take(numberOfPosts).ToList();

}
<section>
    <div class="container">


        @if (pagedBlogposts.Count > 0)
        {
            <div class="container shadow-flow">
                <div class="row mar-bot5">
                    <div class="cols-1">
                        <div class="title">
                            <h1 class="section-heading">@Html.Raw(Model.PageTitle)</h1>
                            <h2>@Html.Raw(Model.DisqusShortname)</h2>
                        </div>
                    </div>
                </div>
                <div class="row blog-row">
                    @foreach (ContentModels.Blogpost post in pagedBlogposts)
                    {
                        DateTime publishDate = post.Value<DateTime>("publishDate");
                        <a href="@post.Url()" alt="@Html.Raw(post.BrowserTitle)">
                            <div class="cols-3">
                                <div class="blog-col">
                                    <div class="blog-date">
                                        <div class="blog-date-day">@publishDate.ToString("dd").</div>
                                        <div class="blog-date-month">@publishDate.ToString("MMM")</div>
                                        <div class="blog-date-year">@publishDate.ToString("yyyy")</div>
                                    </div>
                                    <div class="blog-content">
                                        <h2>@Html.Raw(post.PageTitle)</h2>
                                        <p>@Html.Raw(post.Excerpt)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }

        <div class="row align-center">
            <ul class="pagination">
                @if (page == 1)
                {
                    <li class="inactive">&lt;</li>
                }
                else
                {
                    <li>
                        <a class="" href="@(Model.Url() + "?page=" + (page + 1))" title="Forrige side">&lt;</a>
                    </li>
                }
                @for (int i = 1; i <= pageCount; i++)
                {
                    var buttonClass = "";
                    if(page == i)
                    {
                        <li class="active">
                            @i
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@(Model.Url() + "?page=" + i)">@i</a>
                        </li>
                    }

                }
                @if (page == pageCount)
                {
                    <li class="inactive">&gt;</li>
                }
                else
                {
                    <li>
                        <a class="" href="@(Model.Url() + "?page=" + (page + 1))" title="Næste side">&gt;</a>
                    </li>
                }
            </ul>
        </div>

    </div>
</section>