@using Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json.Linq;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var carouselItems = Model.Value<IList<ContentModels.Picture>>("Carousel"); //.Select(p => new Picture(p)).ToList();
    var i = 0;
    var persons = Model.Root().Children.Where(x => x.IsDocumentType("people")).FirstOrDefault().Children;

    var delimiter = "";
    var currentUrl = UmbracoContext.CleanedUmbracoUrl.AbsoluteUri;
    Uri currentUri = new Uri(currentUrl);
    var baseUrl = $"{currentUri.Scheme}://{currentUri.Authority}";
    var members = new JArray();

    @foreach (ContentModels.Person person in persons)
    {

        var protrait = (person.Photo != null) ? person.Photo.Url() : "/assets/images/personsiloet.jpg";
        protrait = baseUrl + protrait;
        var member = new JObject(
            new JProperty("@type", "Person"),
            new JProperty("name", person.Name),
            new JProperty("jobTitle", string.Join(", ", person.Value<string[]>("memberType"))),
            new JProperty("telephone", person.Phone),
            new JProperty("email", person.Email),
            new JProperty("description", person.Elected),
            new JProperty("image", protrait)
        );
        members.Add(member);
    }
    var structuredData =
    new JObject(
        new JProperty("@context", "https://schema.org"),
        new JProperty("@type", "Organization"),
        new JProperty("logo", "https://www.tvingsbakken.org/assets/images/logo.svg"),
        new JProperty("url", "https://tvingsbakken.org/"),
        new JProperty("email", "https://tvingsbakken.org/"),
        new JProperty("name", "https://tvingsbakken.org/"),
        new JProperty("address", 
            new JObject(
                new JProperty("@type", "PostalAddress"),
                new JProperty("streetAddress", "Tvingsbakken"),
                new JProperty("postalCode", "3200"),
                new JProperty("addressLocality", "Helsinge")
            )
        ),
        new JProperty("members", members)
    );
}


<script type="application/ld+json">
@Html.Raw(structuredData.ToString()),
</script>
<section>
    @foreach (var p in carouselItems)
    {
        string image = (p.Image != null) ? p.Image.Url() : "";
        <div class="frontpage" style="background-image: url(@image)">
            <div class="frontpage-caption">
                <div class="wow fadeInUp">
                    <h1>@p.Title</h1>
                </div>
            </div>
        </div>
    }
</section>
<div class="grid-section">
    <div>
        <div class="row clearfix">
            <div class="cols-1 column">
                <div>
                    @Html.Partial("~/Views/Partials/LatestBlogposts.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
