@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@{ 
    var site = Model.Root();
    var selection = site.Children.Where(x => x.IsVisible());
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
    <li class="@Html.Raw(Model.Content.Id == site.Id ? "active" : "")"><a href="@site.Url">Hjem</a></li>
    @foreach (var item in selection)
    {
        <li class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "active" : "")">
            <a href="@item.Url">@Html.Raw(item.Name)</a>gghg
        </li>
    }
    </ul>
</div>
