@using Umbraco.Extensions
@using TBGF.Apps.Website
@using System
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Web.Common.Views
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Umbraco.Cms.Web;

@{
    var home = (Home)Model.Root();
    var blogRoot = home.Children<ContentModels.Blog>().FirstOrDefault();
    var numberOfPosts = 3;

    //Gets all blogposts to calculate pages
    var blogposts = blogRoot.Children<ContentModels.Blogpost>().OrderByDescending(x => x.Value<DateTime>("publishDate")).ToList(); 
    var pageCount = (int)Math.Ceiling((double)blogposts.Count / (double)numberOfPosts);

    //gets the page from the querystring and sets it to one if it is out of range
    var page = 1;

    if (!string.IsNullOrEmpty(Context.Request.Query["page"]))
    {
        int.TryParse(Context.Request.Query["page"], out page);
        if (page <= 0 || page > pageCount)
        {
            page = 1;
        }
    }
    //Gets the blogposts for the current page
    var pagedBlogposts = blogposts.Skip((page - 1) * numberOfPosts).Take(numberOfPosts).ToList();

    @if (pagedBlogposts.Count > 0)
    {
        <section>
            <div class="container shadow-flow">
                <div class="row blog-row" id="blog-row">
                    @foreach (ContentModels.Blogpost post in pagedBlogposts)
                    {
                        <a href="@post.Url()" alt="@Html.Raw(post.Value("browserTitle"))">
                            <div class="cols-3">
                                <div class="blog-col">
                                    <div class="blog-date">
                                        <div class="blog-date-day">@post.PublishDate.ToString("dd").</div>
                                        <div class="blog-date-month">@post.PublishDate.ToString("MMM")</div>
                                        <div class="blog-date-year">@post.PublishDate.ToString("yyyy")</div>
                                    </div>
                                    <div class="blog-content">
                                        <h2>@Html.Raw(post.PageTitle)</h2>
                                        <p>@Html.Raw(post.Excerpt)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <div class="row align-center">
                    <ul class="pagination" id="page_number">
                    </ul>
                </div>
            </div>
        </section>
     }
}
