@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Umbraco.Cms.Web;
@{
    Layout = null;
    var home = (Home)Model.Root();
    var currentUrl = UmbracoContext.CleanedUmbracoUrl.AbsoluteUri;
    Uri currentUri = new Uri(currentUrl);
    var baseUrl = $"{currentUri.Scheme}://{currentUri.Authority}";

    var soMeTitle = string.IsNullOrWhiteSpace(Model.Value<string>("someTitle")) ? home.Value<string>("someTitle") : Model.Value<string>("someTitle");
    var soMeDescription = string.IsNullOrEmpty(Model.Value<string>("someDescription")) ? home.Value<string>("someDescription") : Model.Value<string>("someDescription");
    var homeSoMeImage = home.Value<Image>("someImage");


    string keywords = "";
    if (@Model.HasProperty("keywords"))
    {
        var tagsList = Model.Value<string[]>("keywords");
        keywords = string.Join(", ", tagsList.ToArray());
    }
    var noIndex = Model.Value<bool>("noIndex") ? "noindex" : "index";
    var noFollow = Model.Value<bool>("noFollow") ? "nofollow" : "follow";
    // cache buster
    string file = @"wwwroot\assets\cachebusting.json";
    string Json = System.IO.File.ReadAllText(file);
    var json = (JObject)JsonConvert.DeserializeObject(Json);
    var cacheBustingId = json["id"];

    var cssUrl = "/assets/css/css.min." + cacheBustingId + ".css";
}
<meta charset="utf-8" />
<title>@Model.Name - @home.Value("SiteName")</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="@Html.Raw(Model.Value("seoMetaDescription"))" />
<meta name="keywords" content="@keywords" />
<meta name="author" content="Grundejerforeningen Tvingsbakken" />
<meta name="robots" content="@noIndex, @noFollow" />
<meta property="og:locale" content="da_DK" />
<meta property="og:type" content="article" />
<meta property="og:title" content="@Html.Raw(soMeTitle)" />
<meta property="og:description" content="@Html.Raw(soMeDescription.Replace("\n"," "))" />
@if (Model.Value("someImage") != null)
{
    var image = Model.Value<Image>("someImage");
    <meta property="og:image" content="@baseUrl@image.Url()" />
    <meta property="og:image:width" content="@image.Value("umbracoWidth")" />
    <meta property="og:image:height" content="@image.Value("umbracoHeight")" />
    <meta property="og:image:alt" content="@Html.Raw(image.Name)" />
}
else if ((Model.Value("homeSoMeImage") != null))
{
    var homeImage = Model.Value<Image>("homeSoMeImage");
    <meta property="og:image" content="@baseUrl@homeImage.Url()" />
    <meta property="og:image:width" content="@homeImage.Value("umbracoWidth")" />
    <meta property="og:image:height" content="@homeImage.Value("umbracoHeight")" />
    <meta property="og:image:alt" content="@homeImage.Name" />
}
<meta property="og:url" content="@currentUrl" />
<meta property="og:site_name" content="@home.Value("SiteName")" />
<meta property="place:location:latitude" content="55.996430" />
<meta property="place:location:longitude" content="12.205300" />


<meta name="theme-color" content="#344530" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="green" />
<meta name="apple-mobile-web-app-title" content="Tvingsbakken App" />
<link rel="stylesheet" href="@baseUrl@cssUrl" type="text/css" media="screen" />
<link rel="icon" type="image/png" sizes="32x32" href="@baseUrl/assets/images/icon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="@baseUrl/assets/images/icon/favicon-16x16.png" />
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="@baseUrl/assets/images/icon/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.json" />
<link rel="canonical" href="@currentUrl" />